@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  overflow-x: hidden;
}

* {
  -webkit-tap-highlight-color: transparent;
}

a{
  text-decoration: none;
  color: inherit;
}

.app{
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0 20px;
}

@media (min-width: 1200px) {
  .app{
    padding: 0 40px;
  }
}

@keyframes fadeIn {
  0%{
    opacity:0 ;
  }
  100%{
    opacity: 1;
  }
}